<nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" *ngIf="route == '/reservations'" routerLink="/creation">CREATE</a>
            <a class="nav-item nav-link active" *ngIf="route == '/creation'" routerLink="/reservations">
                <i class="material-icons">close</i>
            </a>
        </div>
    </div>
</nav>