<div>
  <app-navigation-bar></app-navigation-bar>
  <div class="home" *ngIf="route == ''">
    <p>
      INF3710 TP4 - Applications et Bases de données
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/ROUTEUR_À_IMPLÉMENTER">Membres
      <mat-icon>arrow_right</mat-icon>
    </button>
    <button mat-raised-button color="primary" class="btn" routerLink="/ROUTEUR_À_IMPLÉMENTER">Reservations
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>