<div>
  <app-navigation-bar></app-navigation-bar>
  <div class="home" *ngIf="route == ''">
    <p>
      INF3710 TP4 - Applications et Bases de données
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/members">Membres
      <mat-icon>arrow_right</mat-icon>
    </button>
    <button mat-raised-button color="primary" class="btn" routerLink="/reservations">Reservations
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <footer class="footer-item" *ngIf="route == ''">
    <h4 class="team-name">Équipe Ralph Enjoyers: </h4>
    <p>
      <span>Hamza Belahcen, Raouf Tafat Bouzid, Enrique Ton Papi Rodriguez</span>
    </p>
  </footer>
  <router-outlet></router-outlet>
</div>