.element {
    background-color: #ffffff;
    position: fixed;
    border: 3px solid black;
    overflow: auto;
}


.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 3%;
    background-color: #c734d1;
}

span {
    display: inline-block;
    font-size: 150%;
    font-weight: 900;
    width: 178px;
}